h1,
h2,
h4,
p {
  font-family: "Arvo", serif;
}

.title{
  font-size: 40px !important;
  margin: 5px !important;
}







.p-15{
  font-size: 15px !important ;
}

p {
  font-size: 17px;
}

#intro {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
